<div class="container p-4">
    <div class="row">
        <div class="container">
            <h5>Reportes</h5>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 85vh;">
            <table id="reportes" class="table table-bordered table-striped mb-0" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Reporte</th>
                        <th scope="col">Descargar</th>
                    </tr>
                </thead>

 
                <tbody>
                   

                    <tr>
                        <td>Votos Generales</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vg.xlsx" download="Votos Generales">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos Generales</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvg.xlsx" download="No Votos Generales">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos Afiliados</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/va.xlsx" download="Votos Afiliados">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos Afiliados</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nva.xlsx" download="No Votos Afiliados">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos Comprometidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vc.xlsx" download="Votos Comprometidos">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos Comprometidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvc.xlsx" download="No Votos Comprometidos">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos con Apoyo</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vca.xlsx" download="Votos con Apoyo">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos con Apoyo</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvca.xlsx" download="No Votos con Apoyo">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos No Comprometidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vnc.xlsx" download="Votos No Comprometidos">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos No Comprometidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvnc.xlsx" download="No Votos No Comprometidos">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos Presidencia</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vp.xlsx" download="Votos Presidencia">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos Presidencia</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvp.xlsx" download="No Votos Presidencia">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>Votos Referidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/vr.xlsx" download="Votos Referidos">Descargar</a></td>
                    </tr>
                    <tr>
                        <td>No Votos Referidos</td>
                        <td><a class="btn btn-outline-primary" role="button" href="/files/nvr.xlsx" download="No Votos Referidos">Descargar</a></td>
                    </tr>
                
                </tbody>
            </table>

        </div>
        <style>
            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .id,
            .idee {
                display: none;
            }

            .table-wrapper-scroll-y {
                display: block;
            }
        </style>
    </div>
</div>