<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form action="/visores/auth" method="POST">
                        <div class="form-group mb-2">
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control" required>
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>